<div xmlns="http://www.w3.org/1999/xhtml">

    <!-- Blog Start -->
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->

                    <h1 class="mb-5">FOOD SECURITY BOND INITIATIVE by Food Security Consortium, Inc&nbsp;</h1>
                    <h5>INTRODUCTION</h5>
                    <p>Food Security Consortium is a PanAfrican Economic Freedom Think Tank, that is spearheading solutions to Perennial food insecurity in Africa starting with Kenya.</p>
                    <p>Kenya needs Between $10-$30 billions to create long term food security for its people that is not dependent primarily on seasonal rain regime or negative forces of Climate Change. This amount can be raised through Government
                        guaranteed Food Security Bond (FSB).&nbsp;</p>
                    <p>There&apos;s a lot of goodwill in the Kenyan Diaspora Community&apos;s to participate in poverty alleviating projects in Kenya. &nbsp;The best way to defeat centuries long poverty in Kenya is a concerted effort, all hands-on deck
                        approach, by all Kenyans including the Government of Kenya (GoK), Private enterprises and Private Investors. &nbsp;Kenyan Diaspora like other investors.</p>
                    <p>The Proposed vehicle that will work with GoK to achieve that mission will be known as Food Security Authority of Kenya (FSA) that will work with Diaspora Non-governmental Food Security Think-Tank (or Consortium) to deliver what
                        United States Department of Agriculture (USDA) has achieved since it was established by President Abraham Lincoln- 1862;-</p>
                    <p>On May 15, 1862, President Abraham Lincoln signed legislation to establish the United States Department of Agriculture and two and a half years later in his final message to Congress, Lincoln called USDA &quot;The People&apos;s
                        Department.&quot; Through our work on food, agriculture, economic development, science, natural resource conservation and other issues, USDA has impacted the lives of generations of Americans.&nbsp;</p>
                    <p>It is important to use USDA as a benchmark.</p>
                    <p>The FSA- Will provide leadership on food, agriculture, natural resources, climate change, rural development, nutrition, and related issues based on public policy, the best available science, and effective management.</p>
                    <p>We can defeat Food Insecurity in Kenya and effects of drought such as extreme poverty, loss of lives and properties. &nbsp;Most of our land mass is prone to frequent drought. &nbsp;The proposed well-funded projects when realized will
                        relegate drought related poverty and losses to history:-</p>
                    <!--                    <p><img width="523px;" height="523px;" src="https://lh6.googleusercontent.com/hnwcN81yCaCE5ShQNn4gUrgo7hz40II5gCA6V41POIiOVxVIKNTOo09r_uQxLwK-yTTg3RHSWSa6bZdYVJywxX-AnaCfsVPq25ord0frpYgPu6VP9VtQw4xx3j0uKFyDOs1EicWJj7rQUPRkYdvfBQ=s2048"><br>-->
                    <!--                    </p>-->
                    <img class="img-fluid rounded my-5"
                         src="/images/map_image1.png"
                         alt="">
<!--                    <img class="img-fluid rounded my-5"-->
<!--                         src="https://lh6.googleusercontent.com/hnwcN81yCaCE5ShQNn4gUrgo7hz40II5gCA6V41POIiOVxVIKNTOo09r_uQxLwK-yTTg3RHSWSa6bZdYVJywxX-AnaCfsVPq25ord0frpYgPu6VP9VtQw4xx3j0uKFyDOs1EicWJj7rQUPRkYdvfBQ=s2048" -->
<!--                         alt="">-->

                    <h5>Mission of Food Security Bond Initiative</h5>
                    <p>Propose, fund and contribute expertise in projects geared to solving perennial food insecurity in Kenya and thus enable economic freedoms for all Kenyans. &nbsp;</p>
                    <p>Basic economic freedom we envisage with this initiative is a Kenya where every citizen has adequate nutrition, clothing, affordable and sanitary shelter.</p>
                    <p>Key to FSB Mission is to help channel Diaspora Dollars/Euros to Sustainable and Innovative Poverty defeating Projects.</p>
                    <h5>FSA VISION</h5>
                    <p>That all projects funded under this initiative provide economic opportunity through innovation, helping rural Kenya to thrive; to promote agriculture production that better nourishes Kenyans while also helping feed others throughout
                        the world; and to preserve our Nation&apos;s natural resources through conservation, restored forests, improved watersheds, and healthy private working lands.</p>
            </div>
        </div>
    </div>

</div>