<div xmlns="http://www.w3.org/1999/xhtml">

    <!-- Blog Start -->
    <div class="container py-5 img-thumbnail">
        <div class="row g-5">
            <div class="col-lg-8">
<!--                <img class="img-fluid rounded my-5"-->
<!--                     src="/images/bond.png"-->
<!--                     alt="">-->

                <img class="img-fluid rounded my-5"
                     src="/images/whatwedo2.png"
                     alt="">

            </div>
        </div>
    </div>

</div>