<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-7">
                    <h1 class="display-4 text-secondary text-uppercase border-bottom border-5">Food Security Consortium</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment Start -->
    <div class="container-fluid bg-primary my-5 py-5">
        <div class="container py-5">
            <div class="row gx-5">
                <!--                    left side-->
                <div class="col-lg-6 mb-5 mb-lg-0">

                    <div class="mb-4">
                        <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Blog</h5>
                        <h1 class="display-4">Join the Conversation</h1>
                    </div>
                    <p class="text-white mb-5">Participate in our food security blog and help us identify gaps in food access and resources, so we can work towards a more equitable food system for everyone.
                        Your input can make a difference!
                        Want to make a positive impact on your community?
                        Do you struggle with accessing enough nutritious food?
                        Are you concerned about food waste?
                        We invite you to participate in our food security blog to help us better understand and address the problem in our community.
                    </p>
                    <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="/about">Read More</a>
                    <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="">Remind Me Later </a>
                </div>


                <!--                right side-->
                <div class="col-lg-6">
                    <div class="bg-white text-center rounded p-5">
                        <h1 class="mb-4">Enlist Our Blog </h1>
                        <form method="post" action="/people/saveredirect">
                            <div class="row g-3">
                                <!--                                <div class="col-12 col-sm-6">-->
                                <!--                                    <select class="form-select bg-light border-0" style="height: 55px;">-->
                                <!--                                        <option selected>Choose Department</option>-->
                                <!--                                        <option value="1">Department 1</option>-->
                                <!--                                        <option value="2">Department 2</option>-->
                                <!--                                        <option value="3">Department 3</option>-->
                                <!--                                    </select>-->
                                <!--                                </div>-->
                                <!--                                <div class="col-12 col-sm-6">-->
                                <!--                                    <select class="form-select bg-light border-0" style="height: 55px;">-->
                                <!--                                        <option selected>Select Doctor</option>-->
                                <!--                                        <option value="1">Doctor 1</option>-->
                                <!--                                        <option value="2">Doctor 2</option>-->
                                <!--                                        <option value="3">Doctor 3</option>-->
                                <!--                                    </select>-->
                                <!--                                </div>-->
                                <div class="col-12 col-sm-6">
                                    <input name="firstName" type="text" class="form-control bg-light border-0" placeholder="First Name" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input name="lastName" type="text" class="form-control bg-light border-0" placeholder="Last Name" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input name="education" type="text" class="form-control bg-light border-0" placeholder="Education" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input name="occupation" type="text" class="form-control bg-light border-0" placeholder="Occupation" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input name="institution" type="text" class="form-control bg-light border-0" placeholder="Institution" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input name="email" type="email" class="form-control bg-light border-0" placeholder="Your Email (mandatory)" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input name="phone" type="tel" class="form-control bg-light border-0" placeholder="Your Phone Number" style="height: 55px;">
                                </div>

                                <!--                                <div class="col-12 col-sm-6">-->
                                <!--                                    <div class="date" id="date" data-target-input="nearest">-->
                                <!--                                        <input type="text"-->
                                <!--                                               class="form-control bg-light border-0 datetimepicker-input"-->
                                <!--                                               placeholder="Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <div class="col-12 col-sm-6">-->
                                <!--                                    <div class="time" id="time" data-target-input="nearest">-->
                                <!--                                        <input type="text"-->
                                <!--                                               class="form-control bg-light border-0 datetimepicker-input"-->
                                <!--                                               placeholder="Time" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Get Involved</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->


</div>